@import "constants";

body {
    background-color: #121212;
}

.App {
    &.has-img {
        .drag-and-drop {
            display: none;
        }
    }
}

.drag-and-drop {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    background-color: rgba(#00DAC5, 0.1);

    border: 2px dashed rgba(#00DAC5, 0.5);
    border-radius: 5px;

    transition: all 0.3s ease;

    &.hover {
        background-color: rgba(#00DAC5, 0.2);
        border: 2px solid rgba(#00DAC5, 0.5);
    }
}

canvas {
    height: 500px;
    width: 500px;
    opacity: 0;
}

.pixel-artboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-($pixel-width + px));
}

button {
    background-color: #00DAC5;
    position: relative;
    z-index: 20;
    text-transform: uppercase;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.2s all ease;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(30px) translateY(100%);

    &:hover {
        background-color: darken(#00DAC5, 5%);
    }
}